:root{
    --colorFundo: #F5FFE8;
    --colorVerde: #0F9500;
    --colorBranco: #ffffff;
    --colorPreto: #000000;
}

* {
    margin: 0;
    /*margem zero*/
    padding: 0;
    /**/
    box-sizing: border-box;
    /**/
}

ul {
    list-style: none;
    /*sem bolinha nas linhas*/
}

a {
    text-decoration: none;
    /*sem pre-decoração nos testos como link em azul */
}

.imgFundo {
    margin: 0;
    /*margem zero*/
    padding: 0;
}
body{
    background-color: #F5FFE8;
    overflow-x: hidden;
}